---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
    
      {% if post.titlelink %}
      <a href="{{ post.titlelink }}"><h1 class="entry-title">↪︎ {{ post.title }}</h1></a>
      {% else %}
      <h1 class="entry-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      {% endif %}
      
      <a href="{{ site.baseurl }}/archive#{{ post.date | date: "%Y-%m" }}"><span class="meta">{{ post.date | date: "%Y-%m-%d" }}</span></a><a href="{{ site.baseurl }}{{ post.url }}"><span class="meta"><span class="meta">✪Permalink</span></a>
      
      <div class="entry">
        {{ post.content }}
      </div>
      
      <div class="meta">
          {% for tag in post.tags %}
            {% if forloop.last %}
                <a href="{{ site.baseurl }}/tags#{{ tag }}" class="meta">{{ tag }}</a>
            {% else %}
                <a href="{{ site.baseurl }}/tags#{{ tag }}" class="meta">{{ tag }}</a>,
            {% endif %}
          {% endfor %}
      </div>
    
    </article>

  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
<span class="floatleft">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="alignleft">↤ Newer Posts</a>
    {% endif %}
</span>
<span class="floatright">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="alignright">Older Posts ↦</a>
    {% endif %}
</span>
{% endif %}
</div>


