---
layout: default
---

<article class="post">
  
  {% if page.titlelink %}
  <a href="{{ page.titlelink }}"><h1 class="entry-title">↪︎ {{ page.title }}</h1></a>
  {% else %}
  <h1 class="entry-title">{{ page.title }}</h1>
  {% endif %}
  
  <span class="meta">{{ page.date | date: "%Y-%m-%d" }}</span><a href="{{ site.baseurl }}{{ post.url }}"><span class="meta"><span class="meta">✪Permalink</span></a>
  
  <div class="entry">
    {{ content }}
  </div>

  <div class="meta">
    {% for tag in page.tags %}
        {% if forloop.last %}
            <a href="{{ site.baseurl }}/tags#{{ tag }}" class="meta">{{ tag }}</a>
        {% else %}
            <a href="{{ site.baseurl }}/tags#{{ tag }}" class="meta">{{ tag }}</a>,
        {% endif %}
    {% endfor %}
  </div>

</article>
